body {
  box-sizing: border-box;
  margin: 0;
  background-color: #5aa7ff;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  margin-inline: 5px;
  font-weight: 550;
}

input {
  height: 30px;
  border-radius: 7px;
  border: #000 solid 2px;
  padding-inline: 8px;
  width: 280px;
  font-weight: 550;
}

button {
  background-color: #ffe564;
  padding: 10px 20px;
  border: #000 solid 2px;
  outline: 0;
  border-radius: 10px;
  font-weight: 550;
}

.text-error {
  color: #c32700;
  font-weight: 600;
  text-align: center;
  font-size: 12px;
}
